# GameStop 90 Day Data Grab
## Connor Moore
## 11 July 2021

### Introduction

Code imports daily stock price and interest over time over last 90 days (4/1/2021 to 6/30/2021) for GameStop stock (GME)

### Import

In [6]:
# import pip

import yfinance as yf
import numpy as np
import pandas as pd

from pytrends.request import TrendReq

In [2]:
# Connect to Google API
pytrends = TrendReq(hl='en-US', tz=360)

In [3]:
# Set Keyword
kw_list = ['GME']

# Build Payload
pytrends.build_payload(kw_list, timeframe='2021-04-01 2021-06-30', geo='')

In [4]:
# Get trends Data frame
GME_trends = pytrends.interest_over_time()
GME_trends

            GME  isPartial
date
2021-04-01   66      False
2021-04-02   29      False
2021-04-03   11      False
2021-04-04    9      False
2021-04-05   68      False
...         ...        ...
2021-06-26    9      False
2021-06-27    7      False
2021-06-28   31      False
2021-06-29   28      False
2021-06-30   26      False

[91 rows x 2 columns]

In [5]:
# Get stock Data Frame

GME_stock = yf.download("GME", start="2021-04-01", end="2021-06-30", interval="1d")
GME_stock

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-01,193.360001,196.970001,183.600006,191.449997,191.449997,9334300
2021-04-05,171.000000,195.000000,164.809998,186.949997,186.949997,14070500
2021-04-06,185.210007,192.000000,183.559998,184.500000,184.500000,6218300
2021-04-07,183.220001,184.500000,176.110001,177.970001,177.970001,4768300
2021-04-08,185.880005,185.880005,164.300003,170.259995,170.259995,10047400
...,...,...,...,...,...,...
2021-06-23,221.449997,222.570007,214.119995,219.339996,219.339996,3555100
2021-06-24,221.160004,227.449997,211.600006,212.309998,212.309998,3863300
2021-06-25,214.000000,214.199997,198.500000,209.509995,209.509995,12692700
2021-06-28,211.250000,224.449997,210.199997,213.250000,213.250000,4879400
2021-06-29,213.589996,215.220001,208.009995,210.880005,210.880005,2480000

In [12]:
# Combine Data
GME_DF = pd.concat([GME_stock, GME_trends], axis = 1, join = 'inner')
GME_DF

,Open,High,Low,Close,Adj Close,Volume,GME,isPartial
2021-04-01,193.360001,196.970001,183.600006,191.449997,191.449997,9334300,66,False
2021-04-05,171.000000,195.000000,164.809998,186.949997,186.949997,14070500,68,False
2021-04-06,185.210007,192.000000,183.559998,184.500000,184.500000,6218300,56,False
2021-04-07,183.220001,184.500000,176.110001,177.970001,177.970001,4768300,48,False
2021-04-08,185.880005,185.880005,164.300003,170.259995,170.259995,10047400,51,False
...,...,...,...,...,...,...,...,...
2021-06-23,221.449997,222.570007,214.119995,219.339996,219.339996,3555100,38,False
2021-06-24,221.160004,227.449997,211.600006,212.309998,212.309998,3863300,37,False
2021-06-25,214.000000,214.199997,198.500000,209.509995,209.509995,12692700,34,False
2021-06-28,211.250000,224.449997,210.199997,213.250000,213.250000,4879400,31,False
2021-06-29,213.589996,215.220001,208.009995,210.880005,210.880005,2480000,28,False

In [13]:
# Export to data folder
GME_DF.to_csv(f"../Connor/Data/GME_DF_07.12.2021.csv")

In [14]:
# Get Data
pd.read_csv(f"../Connor/Data/GME_DF_07.12.2021.csv")

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume,GME,isPartial
0,2021-04-01,193.360001,196.970001,183.600006,191.449997,191.449997,9334300,66,False
1,2021-04-05,171.000000,195.000000,164.809998,186.949997,186.949997,14070500,68,False
2,2021-04-06,185.210007,192.000000,183.559998,184.500000,184.500000,6218300,56,False
3,2021-04-07,183.220001,184.500000,176.110001,177.970001,177.970001,4768300,48,False
4,2021-04-08,185.880005,185.880005,164.300003,170.259995,170.259995,10047400,51,False
...,...,...,...,...,...,...,...,...,...
57,2021-06-23,221.449997,222.570007,214.119995,219.339996,219.339996,3555100,38,False
58,2021-06-24,221.160004,227.449997,211.600006,212.309998,212.309998,3863300,37,False
59,2021-06-25,214.000000,214.199997,198.500000,209.509995,209.509995,12692700,34,False
60,2021-06-28,211.250000,224.449997,210.199997,213.250000,213.250000,4879400,31,False
61,2021-06-29,213.589996,215.220001,208.009995,210.880005,210.880005,2480000,28,False